<div id="content">
</div>

<script>

// (function() {
  // var $rootEl = $('#content')
  var CURRENT_USER_ID = <%= @current_user.id %>
  // var pagetemplate = new PhotoApp($rootEl);
  // pagetemplate.initialize(CURRENT_USER_ID)

  $(PhotoApp.initialize);


// })(this);

</script>